
.fl{
	width: 100%;
	height: 0.79rem;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 1.05rem;
	display: flex;
}
.fl_content{
	width: 25%;
	height: 0.79rem;
	float: left;
	text-align: center;
	line-height: 0.79rem;
	font-size: 0.38rem;
	color: #949494;
	justify-content: space-around;
}
.fl_content2{
	color: #fb9d9d;
	border-bottom: 3px solid #fb9d9d;
}
.chat{
	width: 100%;
	/*padding: 5.53rem 3.68rem;*/
	height: 15.36rem;
	position: relative;
}
.chat_con{
	width: 3.56rem;
	height: 3.93rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.chat span{
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 0.8rem;
	font-size: 0.37rem;
	color: #979797;
	letter-spacing: 0.04rem;

}
.chat img{
	width: 3.56rem;
	height: 2.93rem;

}